#menu > button {
    border: none;
    color: pink;
    float: right !important;
}
#nav_menu {
        background-color: #e3f2fd;
        width: 100%;
        float: right;
    }
/* .nav_menu-link {

} */